@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

:root {
  --cerise-color: #db1e8c;
  --carnation-color: #ff97d3;
  --pickled-bluewood-color: #33475b;
  --white-color: #fff;
  --cornflower-color: #264fec;
  --black-color: #000;
  --blue-color: #0000ee;
  --san-juan-color: #364372;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

header {
  height: 80px;
  display: flex;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.header {
  align-items: center;
}

.titulo-principal {
  font-size: 24px;
  color: var(--blue-color);
}

.label-pesquisa {
  background-color: var(--cerise-color);
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  max-width: 184px;
}

.input-pesquisa {
  background-color: transparent;
  padding: 4px;
  border: none;
  outline-color: var(--carnation-color);
  color: var(--white-color);
  max-width: 140px;
}

::placeholder {
  color: var(--carnation-color);
}

main {
  background-color: var(--pickled-bluewood-color);

}

.container.main {
  flex-wrap: wrap;
  padding-bottom: 143px;
}

.trilha {
  max-width: 400px;
  height: 447px;
  background-color: var(--white-color);
  margin-top: 37px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.trilha h2 {
  font-weight: 600;
  margin-bottom: 24px;
  font-size: 24px;
  color: var(--san-juan-color);
}

.trilha a {
  display: inline-block;
  padding: 15px;
  border: 1px solid var(--cornflower-color);
  text-decoration: none;
  border-radius: 4px;
  color: var(--cornflower-color);
  font-size: 14px;
}

.trilha a:hover {
  text-decoration: underline;
}

.trilha p {
  margin-bottom: 20px;
  font-size: 16px;
}

.container.footer {
  align-items: center;
  height: 110px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 26px;
}

.desenvolve {
  display: flex;
  gap: 26px;
  align-items: center;
}

.programa a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: var(--black-color);
  line-height: 1.5;
}

.programa a:hover {
  text-decoration: underline;
}

.redes {
  width: 128px;
}

.redes div:first-child {
  display: flex;
  justify-content: space-between;
}

.redes div a {
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.redes p {
  font-size: 14px;
  text-align: center;
}

.redes div:last-child p {
  margin-top: 10px;
}

@media screen and (max-width: 1259px) {

  .container.container.header,
  .container.footer {
    padding: 20px;
    height: auto;
  }

  main {
    padding-top: 20px;
  }

  .container.main {
    flex-wrap: wrap;
    padding-bottom: 143px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  .trilha {
    max-width: 440px;
    height: 440px;
    background-color: var(--white-color);
    margin-top: 37px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
  }

  .trilha a {
    display: inline-block;
    padding: 15px;
    border: 1px solid var(--cornflower-color);
    text-decoration: none;
    border-radius: 4px;
    color: var(--cornflower-color);
    font-size: 14px;
  }



}

@media screen and (max-width: 1019px) {

  .container.container.header,
  .container.footer {
    padding: 20px;
    height: auto;
  }

  main {
    padding-top: 20px;
  }

  .container.main {
    flex-wrap: wrap;
    padding-bottom: 143px;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  .trilha {
    max-width: 540px;
    height: 440px;
    background-color: var(--white-color);
    margin-top: 37px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
  }

  .trilha a {
    display: inline-block;
    padding: 15px;
    border: 1px solid var(--cornflower-color);
    text-decoration: none;
    border-radius: 4px;
    color: var(--cornflower-color);
    font-size: 14px;
  }

}

@media screen and (max-width: 560px) {

  header {
    height: 180px;
    display: flex;
  }

  .container.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

}

@media screen and (max-width: 834px) {

  .container.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
  }

}